[Unit]
Description=XuanCe Web Panel
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/xuance_web
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
